<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See all of your foods here</title>

    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <!-- Add your custom CSS file -->
    <link rel="stylesheet" href="css/manualGroceries.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top" style="background-color: #00473B;">
        <div class="container">
            <a href="/main" class="navbar-brand">Produce Savior</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/manualFood" class="nav-link">Manual Add</a>
                    </li>
                    <li class="nav-item">
                        <a href="/main" class="nav-link">Upload Image</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="text-dark p-5 text-left mt-5" style="background-color: #F4F3E7;">
        <div class="container mt-5">
            <h1>Feast your eyes (and stomach) upon your food!</h1>
            <p>View all foods that you've added here. Items uploaded with an image will include the image above them.
                Select foods and click the "Get Recipe" button at the bottom of
                the
                page to get a recipe featuring those ingredients courtesy of ChatGPT.</p>

            <form action="/getRecipe" method="POST">

                <% for (let i=0; i < fridge.length; i++) { const foods=fridge[i].foods %>
                    <div class="row mb-3">
                        <div class="col">
                            <img src="<%= fridge[i].detectedFoodsWithBoxes %>" class="img-fluid">
                        </div>
                    </div>

                    <% for (let f=0; f < foods.length; f++) { %>
                        <div class="row mb-3">
                            <div class="col-auto">
                                <input type="checkbox" name="ingredient" value="<%= foods[f].name %>">
                            </div>
                            <div class="col">
                                <span>
                                    <%= foods[f].name %>
                                </span>
                            </div>
                            <div class="col">
                                <span>Purchased on: <%= foods[f].purchaseDate.toDateString() %></span>
                            </div>
                            <div class="col">
                                <span>Expires on: <%= foods[f].expirationDate.toDateString() %></span>
                            </div>
                        </div>
                        <% } %>

                            <% } %>

                                <div class="row mt-3">
                                    <div class="col">
                                        <button id="getRecipeBtn" type="submit" class="btn btn-light">Get
                                            Recipe</button>
                                    </div>
                                </div>

            </form>

        </div>
    </div>

    <!-- Add Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="js/allFoods.js"></script>

</body>

</html>