<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/groceries.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Grocery</title>
</head>

<body>
    <section>
        <nav class="navbar navbar-expand-lg navbar-light py-3 fixed-top" style="background-color: #F4F3E7;">
            <div class="container">
                <a href="/main" class="navbar-brand">Produce Savior</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="/allFoods" class="nav-link">All Foods</a>
                        </li>
                        <li class="nav-item">
                            <a href="/manualFood" class="nav-link">Manual Add</a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    
    <div class="text-light p-5 text-left mt-5" style="background-color: #00473B;">
        <div id="container" class="container">
            <img class="uploadedGroceryHaulImage" src="<%= dataUrl %>">
                <figcaption>A visual of the foods detected by the AI. Hover over each table row to see just that item highlighted!</figcaption>
            <h2>AI-Detected Foods:</h2>
                    <p>Here's a list of all the items Azure Cognitive Services picked up on! If any items were missed or just mislabeled, you can edit or delete those rows. You're also welcome to add new rows. You'll get a text two days before your food is set to expire.</p>
            <% if (detectedFoods.length === 0) { %>
                <span>
                    No foods detected.
                    <a href="/main">Try again!</a>
                </span>
                <% } else { %>
            <form action="/groceryHaul" method="POST">
                <input type="hidden" name="fileName" value="<%= fileName %>">
                <!-- this is the hidden input that allows us to grab the canvas image and send it to the server -->
                <input id="detectedFoodsWithBoxes" type="hidden" name="detectedFoodsWithBoxes" value="">
                        <table id="groceryTable">
                        <tr>
                            <th>Food</th>
                            <th>Today's Date</th>
                            <th>Quantity</th>
                            <th>Expiration Date</th>
                            <th>Delete Item</th>
                        </tr>
                        <tbody id="tBody">
                        <% const today=new Date();
        
                        const expirationDate=new Date();
                            expirationDate.setTime(expirationDate.getTime() + 1000 * 60 * 60 * 24 * 4);
                            const formattedExpirationDate=expirationDate.toLocaleDateString('en-US', { month: '2-digit' ,
                            day: '2-digit' , year: 'numeric' });
                            const formattedDate=today.toLocaleDateString('en-US', {
                            month: '2-digit' , day: '2-digit' , year: 'numeric' });
                            %>
                            <% for(let i=0; i < detectedFoods.length; i++){%>
                                <tr>
        
                                    <% let count = Array.from(jsonResponse.objects).filter(f => f.object ==  detectedFoods[i]).length %>
                                    <td><input id="food" data-index="<%= i %>" value="<%= detectedFoods[i] %>" class="food"
                                            name="food">
                                    </td>
                                    <td><input data-index="<%= i %>" value="<%= formattedDate %>" name="purchaseDate"></td>
                                    <td><input data-index="<%= i %>" value="<%= count %>" class="food" name="quantity">
                                    </td>
                                    <td><input data-index="<%= i %>" value="<%= formattedExpirationDate %>" class="food"
                                            name="expirationDate">
                                    </td>
                                    <td><button class="tableRowDelete">Delete item</button></td>
                                </tr>
                                <% } %>
                            </tbody>
                                    </table>
                                    <button type="submit" class="btn btn-primary">Save items to pantry.</button>
            </form>
            <button id="addItemBtn" class="btn btn-success">Add items</button>
            <% } %>
        </div>
    </div>


    <script text="text/javascript">
        const jsonResponse = <%- JSON.stringify(jsonResponse.objects) %>
    </script>
    <script src="js/groceries.js"></script>
    <script src="js/manualGrocery.js"></script>
    
</body>

</html>