<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/groceries.css">
    <title>Document</title>
</head>

<body>
    <!-- yoinked this from groceryHaul -- need to edit -->
    <div>
        <% for(let i=0; i < detectedFoods.length; i++){%>
            <tr>
                <td><input data-index="<%= i %>" value="<%= detectedFoods[i] %>" class="food" name="food">
                </td>
                <td><input data-index="<%= i %>" value="<%= formattedDate %>" name="purchaseDate"></td>
                <td><input data-index="<%= i %>" value="1" class="food" name="quantity">
                </td>
                <td><input data-index="<%= i %>" value="<%= formattedExpirationDate %>" class="food"
                        name="expirationDate">
                </td>
                <td><button>delete item</button></td>
            </tr>
            <% } %>
                </table>
                <button type="submit">Save items to pantry.</button>
                </form>

    </div>

    <script src="js/groceries.js"></script>
</body>

</html>